.dashboard {
    display: flex;
    justify-content: space-between;
    .swipe-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        height: 100vh;
        margin-top: 100px;

    }

    .card-container {
        margin-top: 20px;
        width: 500px;
        height: 320px;
        .swipe {
            position: absolute;

.card { 
    width: 500px;
    height: 320px;

    border-radius: 30px;
    background-size: cover;
    -webkit-box-shadow: 1px 8px 16px 8px rgb(156, 249, 249);

    box-shadow: 1px 8px 16px 8px rgb(222, 255, 255);

    
    background-position: center;
    h5{
        margin-top: 10px;
    }

    h4{
        margin-bottom: 30px;
    }
    h3 {
        
        margin-top: 10px;
      
        
    }
    
    // span {
    //     margin-bottom: 20px;
    //     font-weight: bold;
    // }


}
        }
    }
    // .swipe-info {
    //     position: absolute;
    //     bottom: 0;
    //     padding: 0px;
    // }
}



#btn{
    margin-right: 10px;
}


