.onboarding {
    border-top: solid 1px rgb(213, 213, 213);
    .profile_title{
        margin-top: 20px;
    }
 
    form {
        display: flex;
        justify-content: center;

        section {
            display: flex;
            flex-direction: column;
            padding: 20px;
            width: 35%;
            text-align: start;
            label {
                margin: 10px 0;
            }
            input {
                padding: 15px 30px;
                margin: 10px 0;
                font-size: 15px;
                border: solid 2px rgb(219, 219, 219);
                border-radius: 10px;
            }
            .multiple-input-container {
                display: flex;
                flex-direction: row;

                input {
                    margin-right: 10px;
                }
                label {
                    padding: 10px;
                    border: solid 2px rgb(144, 144, 144);
                    border-radius: 10px;
                    transition: all 0.3s;
                    margin-right: 10px;
                }
            }
            
        }
        input[type=radio] {
            display: none;
        }
        input[type=number] {
            width: 25%;
        }
        input[type=checkbox] {
        left: 0;
        }
        
        input[type=radio]:checked + label {
            border: solid 2px rgb(221, 39, 22);
        }
        input[type=submit]:hover {
            background-color: rgb(235, 235, 235);
        }
        input[type=submit]:active {
            background-color: rgb(226, 115, 115);
            
        }
        .photo-container img {
            width: 100%
        }
    }
    
}


