.chat-display {
    padding: 20px;
    height: 60vh;
    overflow-y: scroll;



    bottom:0;



    .img-container {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    
    margin: 10px;
    

}

.img-container img {
    width: 100%;
        text-indent:-9999px

 
}
}