.navbar{
    height: 50px;
    border-bottom: 0.5px solid white;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;

    .wrapper {
        width: 100%;
        padding: 9px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom:  0.7px solid lightgray;}


        .logo{
            font-size: 20px;
            font-weight: bold;
            color: rgb(2, 2, 2);
            display: flex;
            align-items: center;
            padding: 3px;
        }

        .items{
            display: flex;
            align-items: center;
            
            .item{
                display: flex;
                align-items: center;
                margin-right: 12px;
                position: relative;

                .avatar{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
            }

        }
    }
